<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="accountResult">
    <table>
        <thead>
        <tr>
            <th>№</th>
            <th>Account Number</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account, iterStat : ${accountResult}">
            <td th:text="${iterStat.count}">1</td>
            <td th:text="${account.accountNumber}">Account Number</td>
            <td>
                <a href="#" th:data-id="${account.id}"
                   onclick="updateDetail(this); return false;">
                    View Details
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
